* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(99, 97, 97);
}

body {
    background-color: lightyellow;
    color: black;
}

.nav {
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin: 0;
    opacity: 0.70;
    white-space: nowrap;
}

.nav li {
    display: inline-block;
    padding: 0 25px 1px 25px;
    font-size: 16px
}

.nav li a {
    text-decoration: none;
    color: rgb(244, 6, 6);
    margin: 0;
    font-family: sans-serif;
}

.nav li a:link {
    color: rgb(38, 35, 190);
}


/* visited link */

.nav li a:visited {
    font-size: large;
    color: rgb(255, 255, 255);
}


/* mouse over link */

.nav li a:hover {
    font-size: large;
    color: #0824ac;
    transition: 3s;
}


/* selected link */

.nav li a:active {
    font-size: large;
    color: #99060b;
    transition: 3s;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
}

.container>div {
    width: 30%;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.box1 {
    flex: 1;
    margin-top: 150px;
}

.box2 {
    flex: 4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.box3 {
    flex: 1;
}

.box4 {
    flex: 1;
}

img {
    border: 2px solid rgb(210, 231, 18);
}