* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(99, 97, 97);
}

body {
    background-color: lightblue;
}

.navbar {
    text-align: center;
    height: 50px;
    background-color: #000000;
    padding-top: 25px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #ffffff;
    font-size: 15px;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.navbar>ul>li>a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar>ul>li>a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1.5px;
    border-bottom-color: #ffffff;
}

.container,
.container2,
.container3,
.container4 {
    display: flex;
    flex-direction: row;
}

img {
    width: 25vw;
    height: 35vh;
    margin: 3.9vw;
    border-radius: 10%;
}

video {
    width: 25vw;
    height: 25vh;
    margin: 3.9vw;
    border-radius: 10%;
}

@media (max-width: 500px) {
    .container,
    .container2,
    .container3,
    .container4 {
        flex-direction: column;
        align-items: center;
    }
}