* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(11, 11, 11);
}

body {
    background-color: lightblue;
}

.navbar {
    text-align: center;
    height: 50px;
    background-color: #000000;
    padding-top: 25px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #ffffff;
    font-size: 15px;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.navbar>ul>li>a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar>ul>li>a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1.5px;
    border-bottom-color: #ffffff;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 350%;
}

h2 {
    margin-top: 2%;
    text-align: center;
}

.lists {
    margin-top: 1%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    list-style-type: none;
}

#name {
    margin-top: 5%;
    text-align: center;
    word-spacing: normal;
    font-size: 250%;
    font-weight: bold;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        margin: 10%;
    }
    p {
        text-align: center;
        font-size: 60%;
    }
    h1 {
        font-size: 150%;
    }
    #name {
        font-size: 150%;
    }
}