* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(99, 97, 97);
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar {
    text-align: center;
    height: 50px;
    background-color: #000000;
    padding-top: 25px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #ffffff;
    font-size: 15px;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.navbar>ul>li>a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar>ul>li>a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1.5px;
    border-bottom-color: #ffffff;
}

div {
    width: 50%;
    height: 50vh;
    float: left;
}

#div1 {
    background: rgb(255, 255, 255);
}

#div2 {
    background: lightyellow;
}

#div3 {
    background: lightgreen;
}

#div4 {
    background: rgb(216, 187, 222);
}

img {
    margin: 5vw 12vw;
    margin-bottom: 4%;
    width: 25vw;
    height: 28vh;
}

video {
    margin: 50px 170px;
    margin-bottom: 20px;
    width: 400px;
    height: 220px;
}

h3 {
    text-align: center;
    font-size: 1.5vw;
}